@model List<WebChat.Entities.Users>
@{

    ViewData["Title"] = "Home Page";
}

<div x-data="chatData" class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Xin chào @User.GetFullName() (@User.GetUsername())</h3>
            <ul class="list-group">
                @foreach (var u in Model)
                {
                    <li class="list-group-item">
                        <label class="select-user">
                            <input type="radio" name="user-check" value="@u.Id" />
                            @u.FullName <small>(@u.Username)</small>
                        </label>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Chat</h3>
            <div class="card">
                <div class="card-body">
                    <div id="chat-window" style="height: calc(100vh - 200px); overflow-y: scroll;">
                        <input type="hidden"  x-ref="UserIdEle" value="@User.GetUserId()" />
                        <ul class="list-unstyled">
                            <template x-for="msg in messages" x-key="msg.id">
                                <div class="mesg"
                                     :class="currentUserId == msg.senderId?'my-mesg':''">
                                    <span x-text="msg.message"></span>
                                </div>
                            </template>
                        </ul>
                    </div>
                    
                    <div class="input-group mt-3">
                        <input type="text" class="form-control" x-model="message" id="messageInput" placeholder="Type a message">
                        <button class="btn btn-primary" @@click="sendMessage">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script defer src="~/lib/alpinejs/cdn.min.js"></script>
<script src="~/js/chat.js"></script>